@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
:root {
  --primary-color: #515def;
  --background-color: #fff;
  --text-color: #313131;
  --success-color: #00b894;
  --error-color: #ff8682;
  --font-family: "Poppins", sans-serif;
  --border-radius: 7px;
}

.service-book{
  display: none;
}
/* index.css */
.leaflet-container {
  height: 300px;
  width: 100%;
}
.react-datepicker {
    box-shadow: 2px 0px 7px 2px #2b2390;
}
.technician-counts .technicians-count-card:nth-child(1){
  border: 1px solid #BAEDCD;
}
.technician-counts .technicians-count-card:nth-child(2){
  border: 1px solid #ADD2F7;
}
.technician-counts .technicians-count-card:nth-child(3){
  border: 1px solid #FFFEB5;
}
.activefilter{
  background: #fff;
  box-shadow: 3px 3px 2px rgb(197, 196, 196);
}
.technician-counts .technicians-count-card:nth-child(4){
  border: 1px solid #FDAC004D;
}
.react-datepicker__header{
  color: var(--primary-color) !important;
}
.serviceCards:hover .service-book{
  display: block;
}
.cards-wrapper .topcards:nth-child(1){
height: 300px;
}
.cards-wrapper .topcards:nth-child(3){
height: 350px;
}
.cards-wrapper .topcards:nth-child(3){
height: 300px;
}
.cards-wrapper .topcards:nth-child(4){
height: 370px;
position: relative;
top: -19%;
}
.cards-wrapper .topcards:nth-child(5){
height: 300px;
}
.cards-wrapper .topcards:nth-child(6){
height: 370px;
position: relative;
top: -19%;
}
.playfarel {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
}
.gradient-text {
  font-weight: bold;
  background: linear-gradient(90deg, #ef5858, #ff8153);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CommunityCrousel ul.slick-dots button {
  background: #cbd5e1;
  border-radius: 50%;
  height: 10px !important;
  width: 10px;
  padding: 0;
}
.CommunityCrousel ul.slick-dots {
  top: 200px !important;
}
.CommunityCrousel ul.slick-dots .slick-active button {
  background: #ea580c;
}
.CommunityCrousel .slick-dots li button:before {
  content: "" !important;
}
.playfair {
  font-family: "Playfair Display", serif;
}
span.numbers {
  bottom: -29%;
  left: 0px;
  font-size: 76px;
}
span.numbers:nth-child(2) {
  right: 0 !important;
  width: fit-content;
}
span.numbers:nth-child(3) {
  left: 0;
}

.topcategoris-top-items {
  visibility: hidden;
}
.topcategoris-item:hover .topcategoris-top-items {
  visibility: visible !important;
}
.topcategoris-item:hover .top-cate-book {
  background: var(--primary-color);
}
.cate-card:hover .cate-card-item {
  color: #fff;
}
.whowearecard:nth-child(1) .halfmoon {
  left: 0%;
}
.whowearecard:nth-child(2) .halfmoon {
  left: 20px;
}
.whowearecard:nth-child(3) .halfmoon {
  left: 0%;
}
button {
  cursor: pointer;
}

.login-slider-wrap .slick-dots li {
  width: 10px !important;
}
.login-slider-wrap .slick-dots li.slick-active {
  width: 24px !important;
}
.login-slider-wrap .slick-dots li button {
  height: 90px;
}
.login-slider-wrap .slick-dots li button:before {
  content: "";
  background: #ccc;
  width: 8px;
  height: 8px;
  opacity: 1;
  border-radius: 50%;
}
.login-slider-wrap .slick-dots li.slick-active button:before {
  background: #515def;
  width: 24px;
  height: 8px;
  border-radius: 10px;
  opacity: 1 !important;
}
.login-slider-wrap .slick-dots li button:before {
  background: #fff;
}
.login-slider-wrap .slick-dots li {
  width: 24px;
}
.Signup .slick-dots {
  top: 90%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 1040px) {
  .Signup .slick-dots {
    top: 90% !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #891c1c !important;
}

.swiper-pagination-bullet {
  background: #ccc !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #891c1c !important;
  opacity: 1 !important;
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  transition: transform 0.3s ease-in-out;
}
.swiper-slide-active {
  transform: scale(1.02);
}
